<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form>
                <h1>Add Subject</h1>
                <div class="form-group">
                    <label for="subName" class="form-label">Enter Subject Name:</label>
                    <input type="text" placeholder="Enter Name" [(ngModel)]="newSubject.subName" name="subName"
                        class="form-control"><br><br>

                    <label for="subMarks" class="form-label">Enter Marks:</label>
                    <input type="text" placeholder="Enter Marks" [(ngModel)]="newSubject.subMarks" name="subMarks"
                        class="form-control"><br><br>

                    <label for="subGrade" class="form-label">Enter Grade:</label>
                    <input type="text" placeholder="Enter Grade" [(ngModel)]="newSubject.subGrade" name="subGrade"
                        class="form-control"><br><br>

                    <label for="sid" class="form-label">Enter Student ID:</label>
                    <input type="number" placeholder="Enter Student ID" [(ngModel)]="newSubject.sid" name="sid"
                        class="form-control"><br><br>

                    <button (click)="addSub()" type="button" class="btn btn-success btn-sm">Add Subject</button>
                </div>
            </form>



        </div>
    </div>
</div>